<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
  <div>
  	<h5>posts</h5>
  	<ol class="posts-container">
  	  <% Object.keys(posts).forEach(function(prop) { %>
		    	<li class="post-block">	
		    		<div class="post-title"><%-posts[prop]["title"] %></div>
		    		<div class="post-body"><%- posts[prop]["body"] %></div>
		    	</li>
    	<% }); %>
  	</ol>
  </div>
</body>
</html>


